@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <div class="container">
        <div class="eight columns">
            <h3>Punktevergabe</h3>
            Jeder richtige Tipp wird mit der von Wettanbietern (www.wettfreunde.de) offerierten Wettquote honoriert. Der Einsatz pro Tipp ist auf 1 Geldeinheit fixiert.
        </div>
        <div class="eight columns">
            <h3>Gewinner</h3>
            <p>Zuoberst steht, wer am Ende der Vorrunde (17 Spieltage) die meisten Punkte gesammelt hat.</p>
        </div>
        <div class="eight columns">
            <h3>Wetteinsatz</h3>
            Keiner - zu gewinnen gibts, ausser der Bewunderung der Mitspieler, auch nichts.
        </div>
    </div>
</article>
